<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>Proyecto argentina programa </title>
    </head>
    <body>
        <%- include ('partials/navbar') %>
        
       
        <div class="container p-4">
          <div class="card mx-3 mt-n5 shadow-lg" style="border-radius:0px; border:none">
           <div class="card-body p-5">
             <h4 class="card-title mb-3 text-dark text-uppercase text-center" style="font-weight:700">Modificar post</h4>
       
             <form action="/posts/actualizar/<%= post.id %>?_method=PUT" method="POST">
               <div class="form-floating mb-3">
                  <input type="text" name="titulo" value="<%= post.titulo %>" class="form-control" id="floatingTextInput1" placeholder="Titulo" required>
                  <label for="floatingTextInput1">Titulo</label>
               </div>
                 
               
               <div class="form-floating mb-3">
                 <input type="text" name="contenido" value="<%= post.contenido %>" class="form-control" id="floatingTextInput2" placeholder="contenido" style="height: 100px" required>
                 <label for="floatingTextarea2">Contenido</label>
               </div>
 
               <div class="form-floating mb-3">
                 <input type="text" name="link_img" value="<%= post.link_img %>" class="form-control"  id="floatingTextInput3" required>
                 <label for="floatingTextInput3" >URL imagen</label>
               </div>
 
               <br>
               <div class="text-center">
               <button class="btn btn-primary" style="border-radius:0px">Actualizar</button>
             </div>
             </form>
           </div>
         </div>
       </div>
       
        


      
        
        <%- include ('partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
    </html>
    